.story {
    width: 70%;
    padding: 1rem;
}

.story__btn {
    background-color: #2F69FF;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    color: white;
    font-weight: 500;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
}

.story__paragraph {
    margin-bottom: 2rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    color: #002586;
    font-weight: 500;
}

.story__title {
    color: #2F69FF;
    margin-bottom: 1rem;
}

.story__category {
    font-weight: 600;
    padding-top: 15px;
    color: #002586;
}

